<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
    
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      <br>
    <% end %>
  </div>
</div>

<%= form_for(@message) do |f| %>
  <form>
  <div class="form-group">
    <label for="exampleInputName1">名前</label>
    <input type="Name" class="form-control" id="exampleInputName1" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="exampleInputMessage1">内容</label>
    <input type="Message" class="form-control" id="exampleInputMessage1" placeholder="Message">
  </div>
  <button type="submit" class="btn btn-default">送信</button>
</form>
<% end %>
